

          <th style='width: 10%; text-align: center'>Serial Number</th>
            <th style='width: 10%; text-align: center'>ID</th>
            <th>City</th>
           
    

                  <tr  style='background-color: AZURE'>


                     <td style='width: 10%; text-align: center'>1</td>
                     <td style='width: 10%; text-align: center'>17</td>
                     <td>MYMENSINGH</td>
                     
                  </tr>
              

                  <tr  style='background-color: #ffffff'>


                     <td style='width: 10%; text-align: center'>2</td>
                     <td style='width: 10%; text-align: center'>18</td>
                     <td>NETRAKONA</td>
                     
                  </tr>
              

                  <tr  style='background-color: AZURE'>


                     <td style='width: 10%; text-align: center'>3</td>
                     <td style='width: 10%; text-align: center'>19</td>
                     <td>SHARIATPUR</td>
                     
                  </tr>
              

                  <tr  style='background-color: #ffffff'>


                     <td style='width: 10%; text-align: center'>4</td>
                     <td style='width: 10%; text-align: center'>20</td>
                     <td>NARSINGDI</td>
                     
                  </tr>
              

                  <tr  style='background-color: AZURE'>


                     <td style='width: 10%; text-align: center'>5</td>
                     <td style='width: 10%; text-align: center'>21</td>
                     <td>SHARIATPUR</td>
                     
                  </tr>
              

                  <tr  style='background-color: #ffffff'>


                     <td style='width: 10%; text-align: center'>6</td>
                     <td style='width: 10%; text-align: center'>22</td>
                     <td>Elenga</td>
                     
                  </tr>
              

                  <tr  style='background-color: AZURE'>


                     <td style='width: 10%; text-align: center'>7</td>
                     <td style='width: 10%; text-align: center'>23</td>
                     <td>Madhupur</td>
                     
                  </tr>
              

                  <tr  style='background-color: #ffffff'>


                     <td style='width: 10%; text-align: center'>8</td>
                     <td style='width: 10%; text-align: center'>24</td>
                     <td>NARSINGDI</td>
                     
                  </tr>
              

                  <tr  style='background-color: AZURE'>


                     <td style='width: 10%; text-align: center'>9</td>
                     <td style='width: 10%; text-align: center'>25</td>
                     <td>CHUADANGA</td>
                     
                  </tr>
              

                  <tr  style='background-color: #ffffff'>


                     <td style='width: 10%; text-align: center'>10</td>
                     <td style='width: 10%; text-align: center'>26</td>
                     <td>GOPALGANJ</td>
                     
                  </tr>
              

                  <tr  style='background-color: AZURE'>


                     <td style='width: 10%; text-align: center'>11</td>
                     <td style='width: 10%; text-align: center'>27</td>
                     <td>GOPALGANJ</td>
                     
                  </tr>
              

                  <tr  style='background-color: #ffffff'>


                     <td style='width: 10%; text-align: center'>12</td>
                     <td style='width: 10%; text-align: center'>28</td>
                     <td>NARAYANGANJ</td>
                     
                  </tr>
              

                  <tr  style='background-color: AZURE'>


                     <td style='width: 10%; text-align: center'>13</td>
                     <td style='width: 10%; text-align: center'>29</td>
                     <td>SHARIATPUR</td>
                     
                  </tr>
              

                  <tr  style='background-color: #ffffff'>


                     <td style='width: 10%; text-align: center'>14</td>
                     <td style='width: 10%; text-align: center'>30</td>
                     <td>SHERPUR</td>
                     
                  </tr>
              

                  <tr  style='background-color: AZURE'>


                     <td style='width: 10%; text-align: center'>15</td>
                     <td style='width: 10%; text-align: center'>31</td>
                     <td>KHULNA</td>
                     
                  </tr>
              

                  <tr  style='background-color: #ffffff'>


                     <td style='width: 10%; text-align: center'>16</td>
                     <td style='width: 10%; text-align: center'>32</td>
                     <td>KHULNA</td>
                     
                  </tr>
              

                  <tr  style='background-color: AZURE'>


                     <td style='width: 10%; text-align: center'>17</td>
                     <td style='width: 10%; text-align: center'>33</td>
                     <td>RONGPUR</td>
                     
                  </tr>
              

                  <tr  style='background-color: #ffffff'>


                     <td style='width: 10%; text-align: center'>18</td>
                     <td style='width: 10%; text-align: center'>34</td>
                     <td>DHAKA</td>
                     
                  </tr>
              

                  <tr  style='background-color: AZURE'>


                     <td style='width: 10%; text-align: center'>19</td>
                     <td style='width: 10%; text-align: center'>35</td>
                     <td>RONGPUR</td>
                     
                  </tr>
              

                  <tr  style='background-color: #ffffff'>


                     <td style='width: 10%; text-align: center'>20</td>
                     <td style='width: 10%; text-align: center'>36</td>
                     <td>DHAKA</td>
                     
                  </tr>
              

                  <tr  style='background-color: AZURE'>


                     <td style='width: 10%; text-align: center'>21</td>
                     <td style='width: 10%; text-align: center'>37</td>
                     <td>RONGPUR</td>
                     
                  </tr>
              

                  <tr  style='background-color: #ffffff'>


                     <td style='width: 10%; text-align: center'>22</td>
                     <td style='width: 10%; text-align: center'>38</td>
                     <td>KHULNA</td>
                     
                  </tr>
              

                  <tr  style='background-color: AZURE'>


                     <td style='width: 10%; text-align: center'>23</td>
                     <td style='width: 10%; text-align: center'>39</td>
                     <td>KHULNA</td>
                     
                  </tr>
              

                  <tr  style='background-color: #ffffff'>


                     <td style='width: 10%; text-align: center'>24</td>
                     <td style='width: 10%; text-align: center'>40</td>
                     <td>DHAKA</td>
                     
                  </tr>
              

                  <tr  style='background-color: AZURE'>


                     <td style='width: 10%; text-align: center'>25</td>
                     <td style='width: 10%; text-align: center'>41</td>
                     <td>DHAKA</td>
                     
                  </tr>
              

                  <tr  style='background-color: #ffffff'>


                     <td style='width: 10%; text-align: center'>26</td>
                     <td style='width: 10%; text-align: center'>42</td>
                     <td>DHAKA</td>
                     
                  </tr>
              

                  <tr  style='background-color: AZURE'>


                     <td style='width: 10%; text-align: center'>27</td>
                     <td style='width: 10%; text-align: center'>43</td>
                     <td>Karatia</td>
                     
                  </tr>
              

                  <tr  style='background-color: #ffffff'>


                     <td style='width: 10%; text-align: center'>28</td>
                     <td style='width: 10%; text-align: center'>44</td>
                     <td>Gopalpur</td>
                     
                  </tr>
              

                  <tr  style='background-color: AZURE'>


                     <td style='width: 10%; text-align: center'>29</td>
                     <td style='width: 10%; text-align: center'>45</td>
                     <td>Gopalpur</td>
                     
                  </tr>
              

                  <tr  style='background-color: #ffffff'>


                     <td style='width: 10%; text-align: center'>30</td>
                     <td style='width: 10%; text-align: center'>46</td>
                     <td>Madhabdi</td>
                     
                  </tr>
              

                  <tr  style='background-color: AZURE'>


                     <td style='width: 10%; text-align: center'>31</td>
                     <td style='width: 10%; text-align: center'>47</td>
                     <td>Basail</td>
                     
                  </tr>
              