

          <th style='width: 10%; text-align: center'>Serial Number</th>
            <th style='width: 10%; text-align: center'>ID</th>
            <th>Name</th>
            <th>Hobbies</th>

    

                  <tr  style='background-color: AZURE'>


                     <td style='width: 10%; text-align: center'>1</td>
                     <td style='width: 10%; text-align: center'>52</td>
                     <td>himu</td>
                     <td>Riding</td>

                      


                  </tr>
              

                  <tr  style='background-color: #ffffff'>


                     <td style='width: 10%; text-align: center'>2</td>
                     <td style='width: 10%; text-align: center'>51</td>
                     <td>akas</td>
                     <td>Riding</td>

                      


                  </tr>
              

                  <tr  style='background-color: AZURE'>


                     <td style='width: 10%; text-align: center'>3</td>
                     <td style='width: 10%; text-align: center'>50</td>
                     <td>bristi</td>
                     <td>Eating, Riding, Photography</td>

                      


                  </tr>
              

                  <tr  style='background-color: #ffffff'>


                     <td style='width: 10%; text-align: center'>4</td>
                     <td style='width: 10%; text-align: center'>49</td>
                     <td>khaled</td>
                     <td>Eating, Photography</td>

                      


                  </tr>
              

                  <tr  style='background-color: AZURE'>


                     <td style='width: 10%; text-align: center'>5</td>
                     <td style='width: 10%; text-align: center'>48</td>
                     <td>koli</td>
                     <td>Eating</td>

                      


                  </tr>
              

                  <tr  style='background-color: #ffffff'>


                     <td style='width: 10%; text-align: center'>6</td>
                     <td style='width: 10%; text-align: center'>47</td>
                     <td>mamun</td>
                     <td>Eating</td>

                      


                  </tr>
              

                  <tr  style='background-color: AZURE'>


                     <td style='width: 10%; text-align: center'>7</td>
                     <td style='width: 10%; text-align: center'>46</td>
                     <td>mailsha</td>
                     <td>Eating, Photography</td>

                      


                  </tr>
              

                  <tr  style='background-color: #ffffff'>


                     <td style='width: 10%; text-align: center'>8</td>
                     <td style='width: 10%; text-align: center'>45</td>
                     <td>mailsha</td>
                     <td>Eating, Photography</td>

                      


                  </tr>
              

                  <tr  style='background-color: AZURE'>


                     <td style='width: 10%; text-align: center'>9</td>
                     <td style='width: 10%; text-align: center'>44</td>
                     <td>jihan</td>
                     <td>Eating</td>

                      


                  </tr>
              

                  <tr  style='background-color: #ffffff'>


                     <td style='width: 10%; text-align: center'>10</td>
                     <td style='width: 10%; text-align: center'>43</td>
                     <td>mamun</td>
                     <td>Eating, Riding</td>

                      


                  </tr>
              

                  <tr  style='background-color: AZURE'>


                     <td style='width: 10%; text-align: center'>11</td>
                     <td style='width: 10%; text-align: center'>42</td>
                     <td>mijan</td>
                     <td>Eating, Riding</td>

                      


                  </tr>
              

                  <tr  style='background-color: #ffffff'>


                     <td style='width: 10%; text-align: center'>12</td>
                     <td style='width: 10%; text-align: center'>41</td>
                     <td>khirul</td>
                     <td>Eating, Riding, Photography</td>

                      


                  </tr>
              

                  <tr  style='background-color: AZURE'>


                     <td style='width: 10%; text-align: center'>13</td>
                     <td style='width: 10%; text-align: center'>40</td>
                     <td>jamal</td>
                     <td>Riding</td>

                      


                  </tr>
              

                  <tr  style='background-color: #ffffff'>


                     <td style='width: 10%; text-align: center'>14</td>
                     <td style='width: 10%; text-align: center'>39</td>
                     <td>monsur</td>
                     <td>Eating, Photography</td>

                      


                  </tr>
              

                  <tr  style='background-color: AZURE'>


                     <td style='width: 10%; text-align: center'>15</td>
                     <td style='width: 10%; text-align: center'>35</td>
                     <td>korim</td>
                     <td>Riding, Photography</td>

                      


                  </tr>
              

                  <tr  style='background-color: #ffffff'>


                     <td style='width: 10%; text-align: center'>16</td>
                     <td style='width: 10%; text-align: center'>34</td>
                     <td>rimon</td>
                     <td>Riding</td>

                      


                  </tr>
              

                  <tr  style='background-color: AZURE'>


                     <td style='width: 10%; text-align: center'>17</td>
                     <td style='width: 10%; text-align: center'>33</td>
                     <td>masum</td>
                     <td>Eating</td>

                      


                  </tr>
              

                  <tr  style='background-color: #ffffff'>


                     <td style='width: 10%; text-align: center'>18</td>
                     <td style='width: 10%; text-align: center'>32</td>
                     <td>minhaj</td>
                     <td>Eating, Riding</td>

                      


                  </tr>
              

                  <tr  style='background-color: AZURE'>


                     <td style='width: 10%; text-align: center'>19</td>
                     <td style='width: 10%; text-align: center'>31</td>
                     <td>masum</td>
                     <td>Riding, Photography</td>

                      


                  </tr>
              

                  <tr  style='background-color: #ffffff'>


                     <td style='width: 10%; text-align: center'>20</td>
                     <td style='width: 10%; text-align: center'>29</td>
                     <td>kamal</td>
                     <td>Eating</td>

                      


                  </tr>
              

                  <tr  style='background-color: AZURE'>


                     <td style='width: 10%; text-align: center'>21</td>
                     <td style='width: 10%; text-align: center'>27</td>
                     <td>mina</td>
                     <td>Eating</td>

                      


                  </tr>
              

                  <tr  style='background-color: #ffffff'>


                     <td style='width: 10%; text-align: center'>22</td>
                     <td style='width: 10%; text-align: center'>23</td>
                     <td>munna</td>
                     <td>Riding, Photography</td>

                      


                  </tr>
              