

          <th style='width: 10%; text-align: center'>Serial Number</th>
            <th style='width: 10%; text-align: center'>ID</th>
            <th>Customer_Id</th>
            <th>Customer_Name</th>
            <th>Email_ID</th>
           
    

                  <tr  style='background-color: AZURE'>


                     <td style='width: 10%; text-align: center'>1</td>
                     <td style='width: 10%; text-align: center'>10</td>
                     <td>#gf44</td>
                     <td>roni</td>
                     <td>roni@gmail.com</td>
                     
                  </tr>
              

                  <tr  style='background-color: #ffffff'>


                     <td style='width: 10%; text-align: center'>2</td>
                     <td style='width: 10%; text-align: center'>11</td>
                     <td>45869</td>
                     <td>komol</td>
                     <td>komol@gmail.com</td>
                     
                  </tr>
              

                  <tr  style='background-color: AZURE'>


                     <td style='width: 10%; text-align: center'>3</td>
                     <td style='width: 10%; text-align: center'>12</td>
                     <td>66677</td>
                     <td>34322</td>
                     <td>roki0888@gmail.com</td>
                     
                  </tr>
              

                  <tr  style='background-color: #ffffff'>


                     <td style='width: 10%; text-align: center'>4</td>
                     <td style='width: 10%; text-align: center'>13</td>
                     <td>47uu</td>
                     <td>noman</td>
                     <td>noman@gmail.com</td>
                     
                  </tr>
              

                  <tr  style='background-color: AZURE'>


                     <td style='width: 10%; text-align: center'>5</td>
                     <td style='width: 10%; text-align: center'>14</td>
                     <td>boltu222</td>
                     <td>boltu dass</td>
                     <td>boltu@gmail.com</td>
                     
                  </tr>
              

                  <tr  style='background-color: #ffffff'>


                     <td style='width: 10%; text-align: center'>6</td>
                     <td style='width: 10%; text-align: center'>15</td>
                     <td>tanvir1234</td>
                     <td>TANVIR UDDIN</td>
                     <td>tanvir@gmail.com</td>
                     
                  </tr>
              

                  <tr  style='background-color: AZURE'>


                     <td style='width: 10%; text-align: center'>7</td>
                     <td style='width: 10%; text-align: center'>16</td>
                     <td>444</td>
                     <td>minhaj</td>
                     <td>minhaj@gmail.com</td>
                     
                  </tr>
              

                  <tr  style='background-color: #ffffff'>


                     <td style='width: 10%; text-align: center'>8</td>
                     <td style='width: 10%; text-align: center'>17</td>
                     <td>78743</td>
                     <td>kalam khan</td>
                     <td>kalam@gmail.com</td>
                     
                  </tr>
              

                  <tr  style='background-color: AZURE'>


                     <td style='width: 10%; text-align: center'>9</td>
                     <td style='width: 10%; text-align: center'>18</td>
                     <td>#898434</td>
                     <td>Moyna</td>
                     <td>moyna@gmail.com</td>
                     
                  </tr>
              