

                  <tr  style='background-color: AZURE'>


                     <td style='width: 10%; text-align: center'>1</td>
                     <td style='width: 10%; text-align: center'>4</td>
                     <td>data communication</td>
                     <td>Dr halal</td>
                     
                  </tr>
              