

          <th style='width: 10%; text-align: center'>Serial Number</th>
            <th style='width: 10%; text-align: center'>ID</th>
            <th>Name</th>
            <th>Summary</th>

    

                  <tr  style='background-color: AZURE'>


                     <td style='width: 10%; text-align: center'>1</td>
                     <td style='width: 10%; text-align: center'>28</td>
                     <td>BDL</td>
                     <td>good</td>

                      


                  </tr>
              

                  <tr  style='background-color: #ffffff'>


                     <td style='width: 10%; text-align: center'>2</td>
                     <td style='width: 10%; text-align: center'>27</td>
                     <td>OLB</td>
                     <td>good</td>

                      


                  </tr>
              

                  <tr  style='background-color: AZURE'>


                     <td style='width: 10%; text-align: center'>3</td>
                     <td style='width: 10%; text-align: center'>26</td>
                     <td>SOME</td>
                     <td>Very Good</td>

                      


                  </tr>
              

                  <tr  style='background-color: #ffffff'>


                     <td style='width: 10%; text-align: center'>4</td>
                     <td style='width: 10%; text-align: center'>25</td>
                     <td>AACC</td>
                     <td>Very Good</td>

                      


                  </tr>
              

                  <tr  style='background-color: AZURE'>


                     <td style='width: 10%; text-align: center'>5</td>
                     <td style='width: 10%; text-align: center'>24</td>
                     <td>DBl</td>
                     <td>Very Good</td>

                      


                  </tr>
              

                  <tr  style='background-color: #ffffff'>


                     <td style='width: 10%; text-align: center'>6</td>
                     <td style='width: 10%; text-align: center'>23</td>
                     <td>BBL</td>
                     <td>GOOD</td>

                      


                  </tr>
              

                  <tr  style='background-color: AZURE'>


                     <td style='width: 10%; text-align: center'>7</td>
                     <td style='width: 10%; text-align: center'>22</td>
                     <td>BTCL</td>
                     <td>Very good</td>

                      


                  </tr>
              

                  <tr  style='background-color: #ffffff'>


                     <td style='width: 10%; text-align: center'>8</td>
                     <td style='width: 10%; text-align: center'>21</td>
                     <td>ISBL</td>
                     <td>very good</td>

                      


                  </tr>
              

                  <tr  style='background-color: AZURE'>


                     <td style='width: 10%; text-align: center'>9</td>
                     <td style='width: 10%; text-align: center'>17</td>
                     <td>SIBL</td>
                     <td>good</td>

                      


                  </tr>
              

                  <tr  style='background-color: #ffffff'>


                     <td style='width: 10%; text-align: center'>10</td>
                     <td style='width: 10%; text-align: center'>16</td>
                     <td>motobi adarsho high school</td>
                     <td>                dfgdfgfd</td>

                      


                  </tr>
              

                  <tr  style='background-color: AZURE'>


                     <td style='width: 10%; text-align: center'>11</td>
                     <td style='width: 10%; text-align: center'>15</td>
                     <td>motobi adarsho high school</td>
                     <td>                good</td>

                      


                  </tr>
              