

          <th style='width: 10%; text-align: center'>Serial Number</th>
            <th style='width: 10%; text-align: center'>ID</th>
            <th>User_Name</th>
            <th>Date_of_Birth</th>

    

                  <tr  style='background-color: AZURE'>


                     <td style='width: 10%; text-align: center'>1</td>
                     <td style='width: 10%; text-align: center'>47</td>
                     <td>momme</td>
                     <td>2017-09-24</td>

                      

                  </tr>
              

                  <tr  style='background-color: #ffffff'>


                     <td style='width: 10%; text-align: center'>2</td>
                     <td style='width: 10%; text-align: center'>46</td>
                     <td>momme</td>
                     <td>2017-09-24</td>

                      

                  </tr>
              

                  <tr  style='background-color: AZURE'>


                     <td style='width: 10%; text-align: center'>3</td>
                     <td style='width: 10%; text-align: center'>45</td>
                     <td>koli</td>
                     <td>2017-09-25</td>

                      

                  </tr>
              

                  <tr  style='background-color: #ffffff'>


                     <td style='width: 10%; text-align: center'>4</td>
                     <td style='width: 10%; text-align: center'>44</td>
                     <td>munna</td>
                     <td>2017-09-29</td>

                      

                  </tr>
              

                  <tr  style='background-color: AZURE'>


                     <td style='width: 10%; text-align: center'>5</td>
                     <td style='width: 10%; text-align: center'>43</td>
                     <td>momme</td>
                     <td>2017-09-24</td>

                      

                  </tr>
              

                  <tr  style='background-color: #ffffff'>


                     <td style='width: 10%; text-align: center'>6</td>
                     <td style='width: 10%; text-align: center'>37</td>
                     <td>ria</td>
                     <td>2017-09-17</td>

                      

                  </tr>
              

                  <tr  style='background-color: AZURE'>


                     <td style='width: 10%; text-align: center'>7</td>
                     <td style='width: 10%; text-align: center'>36</td>
                     <td>tanvir</td>
                     <td>2017-09-01</td>

                      

                  </tr>
              

                  <tr  style='background-color: #ffffff'>


                     <td style='width: 10%; text-align: center'>8</td>
                     <td style='width: 10%; text-align: center'>35</td>
                     <td>kalam</td>
                     <td>2017-09-30</td>

                      

                  </tr>
              

                  <tr  style='background-color: AZURE'>


                     <td style='width: 10%; text-align: center'>9</td>
                     <td style='width: 10%; text-align: center'>25</td>
                     <td>kalam</td>
                     <td>2017-09-23</td>

                      

                  </tr>
              

                  <tr  style='background-color: #ffffff'>


                     <td style='width: 10%; text-align: center'>10</td>
                     <td style='width: 10%; text-align: center'>24</td>
                     <td>malisha</td>
                     <td>2017-09-30</td>

                      

                  </tr>
              

                  <tr  style='background-color: AZURE'>


                     <td style='width: 10%; text-align: center'>11</td>
                     <td style='width: 10%; text-align: center'>23</td>
                     <td>Eimon</td>
                     <td>2017-09-22</td>

                      

                  </tr>
              

                  <tr  style='background-color: #ffffff'>


                     <td style='width: 10%; text-align: center'>12</td>
                     <td style='width: 10%; text-align: center'>20</td>
                     <td>rokib uddin</td>
                     <td>2017-09-30</td>

                      

                  </tr>
              

                  <tr  style='background-color: AZURE'>


                     <td style='width: 10%; text-align: center'>13</td>
                     <td style='width: 10%; text-align: center'>19</td>
                     <td>rokib uddin</td>
                     <td>2017-09-30</td>

                      

                  </tr>
              

                  <tr  style='background-color: #ffffff'>


                     <td style='width: 10%; text-align: center'>14</td>
                     <td style='width: 10%; text-align: center'>18</td>
                     <td>kamal</td>
                     <td>2017-09-17</td>

                      

                  </tr>
              

                  <tr  style='background-color: AZURE'>


                     <td style='width: 10%; text-align: center'>15</td>
                     <td style='width: 10%; text-align: center'>17</td>
                     <td>kalam</td>
                     <td>2017-09-15</td>

                      

                  </tr>
              

                  <tr  style='background-color: #ffffff'>


                     <td style='width: 10%; text-align: center'>16</td>
                     <td style='width: 10%; text-align: center'>16</td>
                     <td>rokib</td>
                     <td>2017-09-24</td>

                      

                  </tr>
              

                  <tr  style='background-color: AZURE'>


                     <td style='width: 10%; text-align: center'>17</td>
                     <td style='width: 10%; text-align: center'>15</td>
                     <td>rokib</td>
                     <td>2017-09-24</td>

                      

                  </tr>
              

                  <tr  style='background-color: #ffffff'>


                     <td style='width: 10%; text-align: center'>18</td>
                     <td style='width: 10%; text-align: center'>14</td>
                     <td>minhaj</td>
                     <td>2017-09-15</td>

                      

                  </tr>
              

                  <tr  style='background-color: AZURE'>


                     <td style='width: 10%; text-align: center'>19</td>
                     <td style='width: 10%; text-align: center'>13</td>
                     <td>motin</td>
                     <td>2017-09-30</td>

                      

                  </tr>
              

                  <tr  style='background-color: #ffffff'>


                     <td style='width: 10%; text-align: center'>20</td>
                     <td style='width: 10%; text-align: center'>12</td>
                     <td>minhaj</td>
                     <td>2017-09-14</td>

                      

                  </tr>
              

                  <tr  style='background-color: AZURE'>


                     <td style='width: 10%; text-align: center'>21</td>
                     <td style='width: 10%; text-align: center'>11</td>
                     <td>masum</td>
                     <td>2017-09-21</td>

                      

                  </tr>
              

                  <tr  style='background-color: #ffffff'>


                     <td style='width: 10%; text-align: center'>22</td>
                     <td style='width: 10%; text-align: center'>10</td>
                     <td>rurma</td>
                     <td>2017-09-05</td>

                      

                  </tr>
              

                  <tr  style='background-color: AZURE'>


                     <td style='width: 10%; text-align: center'>23</td>
                     <td style='width: 10%; text-align: center'>8</td>
                     <td>roni</td>
                     <td>2017-09-21</td>

                      

                  </tr>
              