

          <th style='width: 10%; text-align: center'>Serial Number</th>
            <th style='width: 10%; text-align: center'>ID</th>
            <th>Applicant_name</th>
            <th>Gender</th>

    

                  <tr  style='background-color: AZURE'>


                     <td style='width: 10%; text-align: center'>1</td>
                     <td style='width: 10%; text-align: center'>28</td>
                     <td>manusa</td>
                     <td>Female</td>

                      

                  </tr>
              

                  <tr  style='background-color: #ffffff'>


                     <td style='width: 10%; text-align: center'>2</td>
                     <td style='width: 10%; text-align: center'>27</td>
                     <td>niha</td>
                     <td>Female</td>

                      

                  </tr>
              

                  <tr  style='background-color: AZURE'>


                     <td style='width: 10%; text-align: center'>3</td>
                     <td style='width: 10%; text-align: center'>26</td>
                     <td>maimuna</td>
                     <td>Female</td>

                      

                  </tr>
              

                  <tr  style='background-color: #ffffff'>


                     <td style='width: 10%; text-align: center'>4</td>
                     <td style='width: 10%; text-align: center'>25</td>
                     <td>ruma</td>
                     <td>Female</td>

                      

                  </tr>
              

                  <tr  style='background-color: AZURE'>


                     <td style='width: 10%; text-align: center'>5</td>
                     <td style='width: 10%; text-align: center'>24</td>
                     <td>nahid</td>
                     <td>Male</td>

                      

                  </tr>
              

                  <tr  style='background-color: #ffffff'>


                     <td style='width: 10%; text-align: center'>6</td>
                     <td style='width: 10%; text-align: center'>23</td>
                     <td>kalam</td>
                     <td>Male</td>

                      

                  </tr>
              

                  <tr  style='background-color: AZURE'>


                     <td style='width: 10%; text-align: center'>7</td>
                     <td style='width: 10%; text-align: center'>22</td>
                     <td>maisa</td>
                     <td>Female</td>

                      

                  </tr>
              

                  <tr  style='background-color: #ffffff'>


                     <td style='width: 10%; text-align: center'>8</td>
                     <td style='width: 10%; text-align: center'>21</td>
                     <td>mamun</td>
                     <td>Male</td>

                      

                  </tr>
              

                  <tr  style='background-color: AZURE'>


                     <td style='width: 10%; text-align: center'>9</td>
                     <td style='width: 10%; text-align: center'>13</td>
                     <td>manik</td>
                     <td>Male</td>

                      

                  </tr>
              

                  <tr  style='background-color: #ffffff'>


                     <td style='width: 10%; text-align: center'>10</td>
                     <td style='width: 10%; text-align: center'>12</td>
                     <td>rokib</td>
                     <td>Male</td>

                      

                  </tr>
              

                  <tr  style='background-color: AZURE'>


                     <td style='width: 10%; text-align: center'>11</td>
                     <td style='width: 10%; text-align: center'>11</td>
                     <td>rokib</td>
                     <td>Male</td>

                      

                  </tr>
              

                  <tr  style='background-color: #ffffff'>


                     <td style='width: 10%; text-align: center'>12</td>
                     <td style='width: 10%; text-align: center'>9</td>
                     <td>jamal</td>
                     <td>Male</td>

                      

                  </tr>
              

                  <tr  style='background-color: AZURE'>


                     <td style='width: 10%; text-align: center'>13</td>
                     <td style='width: 10%; text-align: center'>8</td>
                     <td>tanvir</td>
                     <td>Male</td>

                      

                  </tr>
              

                  <tr  style='background-color: #ffffff'>


                     <td style='width: 10%; text-align: center'>14</td>
                     <td style='width: 10%; text-align: center'>5</td>
                     <td>hasina khatun</td>
                     <td>Female</td>

                      

                  </tr>
              

                  <tr  style='background-color: AZURE'>


                     <td style='width: 10%; text-align: center'>15</td>
                     <td style='width: 10%; text-align: center'>4</td>
                     <td>kamal uddin</td>
                     <td>Array</td>

                      

                  </tr>
              